# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
testbin/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
.vscode

# Output of gorelease
dist

# ignore output by test
/**/_test

# Dependency directories (remove the comment below to include it)
#vendor/

# testing complytime created by openscap-plugin
user_workspace
complytime.yaml
complyctl.log
.complytime

# Outputs
assessment-plan.json
assessment-results.*
!**/testdata/assessment-plan.json
!**/testdata/assessment-results.*
governance/reports/*

# Go workspaces
go.work*

# Speckit
.specify/extensions/.cache/
.specify/extensions/.backup/
.specify/extensions/*/local-config.yml
.specify/scripts
.specify/templates

# Agent dirs
.cursor

megalinter-reports/
